/* color variables */
:root {
    --primary-color: #231f20;
    --secondary-color: #30ffff;
    --tertiary-color: white;
  }

/* remove default CSS styling */  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
  }  

.Section-Title {
    border-right: 5px solid var(--tertiary-color);
    min-height: 100%;
    text-align: right;
    padding-right: 20px;
    min-width: 20%;
    max-width: 20%;
}

.Section-Title h2 {
    font-size: 36px;
}

/* header styling */
  header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    position: sticky;
    top: 0;
    background-image: url("../images/banner.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    background-position: 50%;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 42px;
    color: var(--tertiary-color);
  }
  
  header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }
  
  header nav {
    margin: 10px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
    text-decoration: underline;
  }
  
  header nav ul li a:hover {
    color: var(--secondary-color);
  }

/* hero styling */  
.hero {
    background-image: url("../images/banner.webp");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--tertiary-color);
  }

/* about styling */
  .about {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 20px;
  }

  .about p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
  }

  
/* my work styling */
.my-work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.my-work h2 {
    color: var(--secondary);
}

.projects-grid-wrapper {
    width: 80%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.project:hover {
    opacity: 1.0;
}

.project1 {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../images/run-buddy.png");
}

.project2 {
    background-image: url("../images/project2.png");
}

.project3 {
    background-image: url("../images/project3.png");
}

.project4 {
    background-image: url("../images/project4.png");
}

.project5 {
    background-image: url("../images/project5.png");
}

.project-label {
    background-color: var(--tertiary-color);
    color: var(--primary);
    padding: 10px;
}

/* contact me styling  */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
}

.content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-list {
    width: 60%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
}

footer ul li {
    font-weight: bold;
}

footer ul li a {
    text-decoration: none;
    color: var(--primary);
    padding: 8px;
    font-weight: bold;
}

footer ul li a:hover {
    color: var(--secondary-color);
}


/* MEDIA QUERY FOR TABLET SCREENS AND SMALLER */
@media screen and (max-width: 768px) {

    .Section-Title h2 {
        font-size: 35px;
    }

    .about p {
        font-size: 16px;
        line-height: 1.6;
    }
}

/* MEDIA QUERY FOR MOBILE PHONE SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header nav ul {
        min-height: 80px;
    }


    .about {
        flex-direction: column;
    }

    .Section-Title {
        border-bottom: 5px solid var(--tertiary-color);
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .about p {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
        padding: 15px;
    }

    .my-work {
        flex-direction: column;
        padding: 30px 0;
    }

    .projects-grid-wrapper {
        width: 100%;
    }
    
    .projects-grid {
        width: 80%;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
        padding: 5px;
    }

    .content-wrapper {
        width: 100%;
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }
    
}